BankAccountWebService/src/main/resources/BankAccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BankAccountServiceService" targetNamespace="http://service.mytutorials.oz.ru/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.mytutorials.oz.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.mytutorials.oz.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.mytutorials.oz.ru/" version="1.0">

  <xs:element name="UserDetails" type="tns:userDetails"/>

  <xs:element name="addUserDetails" type="tns:addUserDetails"/>

  <xs:element name="addUserDetailsResponse" type="tns:addUserDetailsResponse"/>

  <xs:element name="getUserDetails" type="tns:getUserDetails"/>

  <xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse"/>

  <xs:complexType name="getUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="userMyName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="bankBalance" type="xs:decimal"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="userDetails" type="tns:userDetails"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUserDetailsResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addUserDetailsResponse">
    <wsdl:part name="parameters" element="tns:addUserDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserDetailsResponse">
    <wsdl:part name="parameters" element="tns:getUserDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserDetails">
    <wsdl:part name="parameters" element="tns:addUserDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserDetails">
    <wsdl:part name="parameters" element="tns:getUserDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BankAccountService">
    <wsdl:operation name="getUserDetails">
      <wsdl:input name="getUserDetails" message="tns:getUserDetails">
    </wsdl:input>
      <wsdl:output name="getUserDetailsResponse" message="tns:getUserDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserDetails">
      <wsdl:input name="addUserDetails" message="tns:addUserDetails">
    </wsdl:input>
      <wsdl:output name="addUserDetailsResponse" message="tns:addUserDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankAccountServiceServiceSoapBinding" type="tns:BankAccountService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserDetails">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserDetails">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUserDetails">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankAccountServiceService">
    <wsdl:port name="BankAccountServicePort" binding="tns:BankAccountServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/BankAccountServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
